.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
  
  body {
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    font-size: 18px;
    color: #333;
  }
  
  #movie-A {
    outline: 1px solid #ff4633;
    height: 425px;
    width: 300px;
  }                                                                             