.navbar {
  
  margin: 0 auto;
  
}

.navbar-collapse {
  background-color: #c2d4ddde;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
}

.search-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
}
